<div class="MTbackground">
	<h1>Illustrations</h1>
	<div>Tom Sawyer and Huckleberry Finn are iconic representations of 19th century American boyhood. In an attempt to gain a greater appreciation for these American icons, I have decided to interpret various illustrations of the two characters. These interpretations lend insight into how these characters were viewed during Mark Twain's times and how their portrayals have developed in more contemporary interpretations. Finally, I have included my own illustrations of the two icons</div>
	<ul>
		<li>
			<img src="">
			<p>Original cover art of <span>The Adventures of Tom Sawyer</span></p>
		</li>
		<li>
			<img src="">
			<p>Original cover art of <span>Adventures of Huckleberry Finn</span></p>
		</li>
	</ul>
	<div>This project was developed by Pablo Cazzulino for ENAM 4500 as taught by Professor Stephen Railton in the Fall of 2016</div>
</div>