<div class="background">
	<h1>Huckleberry Finn</h1>
	<div>Blurb about common themes of illustrations of Huckleberry Finn</div>
	<div class="l-float" ng-click="isV6=!isV6">
		<img src="pictures/True Williams-HF.jpg">
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	</div>
	<div class="lightbox-bg" ng-show="isV6" ng-click="isV6 = !isV6">
		<div class="lightbox-content">
			<img src="pictures/True Williams-HF.jpg">
			<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		</div>
	</div>
	<div class="l-float" ng-click="isV7=!isV7">
		<img src="pictures/Rogers-HF.png">
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	</div>
	<div class="lightbox-bg" ng-show="isV7" ng-click="isV7 = !isV7">
		<div class="lightbox-content">
			<img src="pictures/Rogers-HF.png">
			<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		</div>
	</div>
	<div class="l-float" ng-click="isV8=!isV8">
		<img src="pictures/Rockwell-HF.jpg">
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	</div>
	<div class="lightbox-bg" ng-show="isV8" ng-click="isV8 = !isV8">
		<div class="lightbox-content">
			<img src="pictures/Rockwell-HF.jpg">
			<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		</div>
	</div>
	<div class="l-float" ng-click="isV9=!isV9">
		<img src="pictures/Kemble HF.jpg">
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	</div>
	<div class="lightbox-bg" ng-show="isV9" ng-click="isV9 = !isV9">
		<div class="lightbox-content">
			<img src="pictures/Kemble HF.jpg">
			<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		</div>
	</div>
	<div class="l-float" ng-click="isV10=!isV10">
		<img src="pictures/Brehm-HF.jpg">
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	</div>
	<div class="lightbox-bg" ng-show="isV10" ng-click="isV10 = !isV10">
		<div class="lightbox-content">
			<img src="pictures/Brehm-HF.jpg">
			<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		</div>
	</div>
	<div class="l-float" ng-click="isV11=!isV11">
		<img src="pictures/Moser-HF.jpg">
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	</div>
	<div class="lightbox-bg" ng-show="isV11" ng-click="isV11 = !isV11">
		<div class="lightbox-content">
			<img src="pictures/Moser-HF.jpg">
			<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		</div>
	</div>
</div>