<h1>Illustrations of Tom Sawyer</h1>
<div>Blurb about common themes of illustrations of Tom Sawyer</div>
<div class="l-float">
	<img src="">
	<div class="blurb"></div>
</div>
<div class="l-float">
	<img src="">
	<div class="blurb"></div>
</div>
<div class="r-float">
	<img src="">
	<div class="blurb"></div>
</div>
<div class="r-float">
	<img src="">
	<div class="blurb"></div>
</div>
<div class="l-float">
	<img src="">
	<div class="blurb"></div>
</div>
<div class="l-float">
	<img src="">
	<div class="blurb"></div>
</div>