<div class="background">
	<h1>Tom Sawyer</h1>
	<div>Blurb about common themes of illustrations of Tom Sawyer</div>
	<div class="l-float" ng-click="isVisible = !isVisible">
		<img src="pictures/Williams-TS.jpg">
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
	</div>
	<div class="lightbox-bg" ng-show="isVisible" ng-click="isVisible = !isVisible">
		<div class="lightbox-content">
			<img src="pictures/Williams-TS.jpg">
			<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
	</div>
	<div class="l-float" ng-click="isV1=!isV1">
		<img src="pictures/Rogers-TS.png">
		<div class="blurb">Tom Sawyer on a raft</div>
	</div>
	<div class="lightbox-bg" ng-show="isV1" ng-click="isV1 = !isV1">
		<div class="lightbox-content">
			<img src="pictures/Rogers-TS.png">
			<div class="blurb">Tom Sawyer on a raft</div>
		</div>
	</div>
	<div class="l-float" ng-click="isV2=!isV2">
		<img src="pictures/Wyeth-TS.jpg">
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	</div>
	<div class="lightbox-bg" ng-show="isV2" ng-click="isV2 = !isV2">
		<div class="lightbox-content">
			<img src="pictures/Wyeth-TS.jpg">
			<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		</div>
	</div>
	<div class="l-float" ng-click="isV3=!isV3">
		<img src="pictures/Rockwell-TS.jpg">
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	</div>
	<div class="lightbox-bg" ng-show="isV3" ng-click="isV3 = !isV3">
		<div class="lightbox-content">
			<img src="pictures/Rockwell-TS.jpg">
			<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		</div>
	</div>
	<div class="l-float t-up" ng-click="isV4=!isV4">
		<img src="pictures/Brehm-TS.jpg">
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	</div>
	<div class="lightbox-bg" ng-show="isV4" ng-click="isV4 = !isV4">
		<div class="lightbox-content">
			<img src="pictures/Brehm-TS.jpg">
			<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		</div>
	</div><div class="l-float t-up2" ng-click="isV5=!isV5">
		<img src="pictures/Benton-TS.jpg">
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	</div>
	<div class="lightbox-bg" ng-show="isV5" ng-click="isV5 = !isV5">
		<div class="lightbox-content">
			<img src="pictures/Benton-TS.jpg">
			<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		</div>
	</div>
</div>